<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Laptopiki</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- footer -->
<div class="footer col-sm-12 my-auto fixed-bottom" th:fragment="footer">
    <div class="row" style="background: yellow">
        <div class="col-sm-4">Wybierz</div>
        <div class="col-sm-4">Oddzwonimy</div>
        <div class="col-sm-4">Dostawimy</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><p>email : stefan@gmail.com</p>
        </div>
        <div class="col-sm-4"><p>numer: +4877777777</p>
        </div>
        <div class="col-sm-4"><p><a href=""><i class="fa fa-facebook-official" style="font-size:36px;color:#3b5998"></i></a>
        </p></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row" style="background: violet">
        <div class="col-sm-12">Administratorem Twoich danych osobowych jest Stefan Production ul. Bukowińska 22A, NIP
            521-380-00-23. Przysługują Ci w związku z tym wszystkie prawa wynikające z ochrony danych osobowych, tj.
            prawo dostępu, sprostowania oraz usunięcia Twoich danych, ograniczenia lub sprzeciwu co do ich
            przetwarzania, prawo do ich przenoszenia, niepodlegania zautomatyzowanemu podejmowaniu decyzji, a także
            prawo wniesienia skargi do organu nadzorczego.
        </div>
    </div>
</div>

<!--end footer -->
</body>
</html>