<!DOCTYPE html>
<html lang="en">
<head>
    <title>File Upload Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>File upload demo</h1>
        <p>File upload demo along with POST data form</p>
    </div>
</div>
<div class="container">
    <h1><span class="badge badge-secondary">Add New Employee</span></h1>
    <div class="alert alert-success">File uploaded successfully</div>
    <div class="alert alert-danger">File is not uploaded. Error occurred</div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Employee name" name="name">
    </div>
    <div class="form-group">
        <label for="brand">brand:</label>
        <input type="text" class="form-control" id="brand" placeholder="Enter Employee brand" name="brand">
    </div>
    <div class="form-group">
        <label for="model">model</label>
        <input type="text" class="form-control" id="model" placeholder="Enter model" name="model">
    </div>
    <div class="form-group">
        <label for="processor">processor:</label>
        <input type="text" class="form-control" id="processor" placeholder="Enter Employee processor" name="processor">
    </div>
    <div class="form-group">
        <label for="graphics">graphics:</label>
        <input type="text" class="form-control" id="graphics" placeholder="Enter graphics" name="graphics">
    </div>
    <div class="form-group">
        <label for="memory">memory:</label>
        <input type="text" class="form-control" id="memory" placeholder="Enter Employee memory" name="memory">
    </div>
    <div class="form-group">
        <label for="screen">screen:</label>
        <input type="text" class="form-control" id="screen" placeholder="Enter screen" name="screen">
    </div>
    <div class="form-group">
        <label for="ram">ram:</label>
        <input type="text" class="form-control" id="ram" placeholder="Enter Employee ram" name="ram">
    </div>
    <div class="form-group">
        <label for="network">network:</label>
        <input type="text" class="form-control" id="network" placeholder="Enter network" name="network">
    </div>
    <div class="form-group">
        <label for="color">color:</label>
        <input type="text" class="form-control" id="color" placeholder="Enter Employee color" name="color">
    </div>
    <div class="form-group">
        <label for="weight">weight:</label>
        <input type="text" class="form-control" id="weight" placeholder="Enter weight" name="weight">
    </div>
    <div class="form-group">
        <label for="operatingSystem">operatingSystem:</label>
        <input type="text" class="form-control" id="operatingSystem" placeholder="Enter Employee operatingSystem" name="operatingSystem">
    </div>
    <div class="form-group">
        <label for="usb">usb:</label>
        <input type="text" class="form-control" id="usb" placeholder="Enter usb" name="usb">
    </div>
    <div class="form-group">
        <label for="additionalInformation">additionalInformation:</label>
        <input type="text" class="form-control" id="additionalInformation" placeholder="Enter Employee additionalInformation" name="additionalInformation">
    </div>
    <div class="form-group">
        <label for="price">price:</label>
        <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
    </div>
    <form id="fileUploadForm">
        <div class="form-group">
            <input type="file" class="form-control-file border" name="file">
        </div>
    </form>
    <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
</div>
<br/>
<div class="container">
    <h1><span class="badge badge-secondary">Employee(s) List</span></h1>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>brand</th>
                <th>model</th>
                <th>processor</th>
                <th>graphics</th>
                <th>memory</th>
                <th>screen</th>
                <th>ram</th>
                <th>network</th>
                <th>color</th>
                <th>weight</th>
                <th>operatingSystem</th>
                <th>usb</th>
                <th>additionalInformation</th>
                <th>price</th>
                <th>Profile Picture</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
    function getEmployeeDetails() {
        $.ajax({url: "/prd", success: function(result){
                $(".table tbody").html('');
                if(result.length>0) {
                    $.each(result, function( index, value ) {
                        var htmlStr =
                            "<tr><td>"+result[index].id+"</td>" +
                            "<td>"+result[index].brand+"</td>" +
                            "<td>"+result[index].model+"</td>" +
                            "<td>"+result[index].processor+"</td>" +
                            "<td>"+result[index].graphics+"</td>" +
                            "<td>"+result[index].memory+"</td>" +
                            "<td>"+result[index].screen+"</td>" +
                            "<td>"+result[index].ram+"</td>" +
                            "<td>"+result[index].network+"</td>" +
                            "<td>"+result[index].color+"</td>" +
                            "<td>"+result[index].weight+"</td>" +
                            "<td>"+result[index].operatingSystem+"</td>" +
                            "<td>"+result[index].usb+"</td>" +
                            "<td>"+result[index].additionalInformation+"</td>" +
                            "<td>"+result[index].price+"</td>" +
                            "<td><img src=\""+result[index].productPicPath+"\">" + "</td>" +
                            "</tr>";
                        $(".table tbody").append(htmlStr);
                    });
                } else {
                    $(".table tbody").append('<tr><td colspan="4" style="color:red;">No records to display</td></tr>');
                }
            }});
    }
    $(document).ready(function () {
        getEmployeeDetails();
        $(".alert-success").hide();
        $(".alert-danger").hide();
        $("#btnSubmit").click(function () {
            var form = $('#fileUploadForm')[0];
            var data = new FormData(form);
            var jsonDataObj = {
                "brand": $("#brand").val(),
                "model": $("#model").val(),
                "processor": $("#processor").val(),
                "graphics": $("#graphics").val(),
                "memory": $("#memory").val(),
                "screen": $("#screen").val(),
                "ram": $("#ram").val(),
                "network": $("#network").val(),
                "color": $("#color").val(),
                "weight": $("#weight").val(),
                "operatingSystem": $("#operatingSystem").val(),
                "usb": $("#usb").val(),
                "additionalInformation": $("#additionalInformation").val(),
                "price": $("#price").val()
            };
            data.append("prdJson", JSON.stringify(jsonDataObj));
            $("#btnSubmit").prop("disabled", true);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/prd",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {

                    console.log("SUCCESS : ", data);
                    $("#btnSubmit").prop("disabled", false);
                    $(".alert-success").show();
                    $(".alert-danger").hide();
                    getEmployeeDetails();

                },
                error: function (e) {
                    $(".alert-success").hide();
                    $(".alert-danger").show();
                    console.log("ERROR : ", e);
                    $("#btnSubmit").prop("disabled", false);
                }
            });
        });
    });
</script>
</body>
</html>