<!DOCTYPE html>
<html lang="en">
<head>
    <title>File Upload Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/products/create-product.js"></script>
</head>
<body>

<div class="container">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>brand</th>
                <th>model</th>
                <th>processor</th>
                <th>graphics</th>
                <th>memory</th>
                <th>screen</th>
                <th>ram</th>
                <th>network</th>
                <th>color</th>
                <th>weight</th>
                <th>operatingSystem</th>
                <th>usb</th>
                <th>additionalInformation</th>
                <th>price</th>
                <th>Profile Picture</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="container" id >

        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Employee name" name="name">


        <label for="brand">brand:</label>
        <input type="text" class="form-control" id="brand" placeholder="Enter Employee brand" name="brand">


        <label for="model">model</label>
        <input type="text" class="form-control" id="model" placeholder="Enter model" name="model">


        <label for="processor">processor:</label>
        <input type="text" class="form-control" id="processor" placeholder="Enter Employee processor" name="processor">


        <label for="graphics">graphics:</label>
        <input type="text" class="form-control" id="graphics" placeholder="Enter graphics" name="graphics">

        <label for="memory">memory:</label>
        <input type="text" class="form-control" id="memory" placeholder="Enter Employee memory" name="memory">

        <label for="screen">screen:</label>
        <input type="text" class="form-control" id="screen" placeholder="Enter screen" name="screen">

        <label for="ram">ram:</label>
        <input type="text" class="form-control" id="ram" placeholder="Enter Employee ram" name="ram">

        <label for="network">network:</label>
        <input type="text" class="form-control" id="network" placeholder="Enter network" name="network">

        <label for="color">color:</label>
        <input type="text" class="form-control" id="color" placeholder="Enter Employee color" name="color">

        <label for="weight">weight:</label>
        <input type="text" class="form-control" id="weight" placeholder="Enter weight" name="weight">

        <label for="operatingSystem">operatingSystem:</label>
        <input type="text" class="form-control" id="operatingSystem" placeholder="Enter Employee operatingSystem" name="operatingSystem">

        <label for="usb">usb:</label>
        <input type="text" class="form-control" id="usb" placeholder="Enter usb" name="usb">

        <label for="additionalInformation">additionalInformation:</label>
        <input type="text" class="form-control" id="additionalInformation" placeholder="Enter Employee additionalInformation" name="additionalInformation">

        <label for="price">price:</label>
        <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">

    <form id="fileUploadForm">
        <div class="form-group">
            <input type="file" class="form-control-file border" name="first_file">
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file border" name="second_file">
        </div>
    </form>
    <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
</div>

</body>
</html>