<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Laptopiki</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="fragments/nav-bar :: nav-bar"></div>

<div class="container blog-container">
    <div class="card-deck">
        <div class="col-sm-9 card" th:each="blog : ${blogList}">
            <h4 class="card-title" th:text="${blog.title}"></h4>
            <div class="card-block" th:text="${blog.content}">
            </div>
            <div sec:authorize="isAuthenticated()">
                <table>
                    <tr>
                        <td>
                            <a th:href="@{/admin/blog/edit/{id}(id = ${blog.id})}" class="btn btn-success"
                               role="button">Edytuj</a>
                        </td>
                        <td><a th:href="@{/admin/blog/delete/{id}(id = ${blog.id})}" class="btn btn-danger"
                               role="button"
                               onclick="return confirm('Na pewno chcesz usunac blog?');">Usun</a>
                        </td>
                    </tr>
                </table>

            </div>
            <hr/>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>