<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laptopiki</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    #sort-dropdown {
        display: none;
    }
    #filter-dropdown {
        display: none;
    }

    body {
        background: #00FFFF;
        padding-top: 60px;
    }

    @media (max-width: 1440px) {
        body {
            padding-top: 0;
        }
    }

    .blog-container {
        background: aliceblue;
    }

    hr {
        display: block;
        margin: 0.5em auto;
        border-style: inset;
        border-width: 1px;
    }
</style>
<body>
<div th:replace="fragments/nav-bar :: nav-bar"></div>

<div class="container blog-container">
    <div class="card-deck">
        <div class="col-sm-9 card" th:each="blog : ${blogList}">
            <img class="card-img-top img-fluid" style="width: 18rem"
                 alt="Blog image">
            <h4 class="card-title" th:text="${blog.title}"></h4>
            <div class="card-block" th:text="${blog.content}">
            </div>
            <hr/>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>