<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laptopiki</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="fragments/nav-bar :: nav-bar"></div>

<div class="container">
    <div class="card">

        <div class="card-body px-lg-5 pt-0">
            <form th:object="${blog}" th:action="@{/admin/blog/save-blog}" method="post">

                <div class="md-form">
                    <label for="blogTitle">Tytul</label>
                    <input type="text" th:field="*{title}" id="blogTitle" class="form-control">
                </div>
                <div class="md-form">
                    <label for="blogContent">Blog Content</label><br>
                    <textarea id="blogContent" rows="20" cols="80" th:field="*{content}"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>