<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Laptopiki</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .footerm {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="position: sticky;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Laptopy polizingowe</a>
        </div>
        <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Laptopy
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/products?brand=Acer">Acer</a></li>
                    <li><a href="/products?brand=Acer">Apple</a></li>
                    <li><a href="/products?brand=Dell">Dell</a></li>
                    <li><a href="/products?brand=Lenovo">Lenovo</a></li>
                    <li><a href="/products?brand=HP">HP</a></li>
                </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search" style="width: 15rem">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sortowanie
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Domyślne sortowanie</a></li>
                    <li><a href="#">Sortuj od najnowszych</a></li>
                    <li><a href="#">Sortuj wg ceny: od najniższej</a></li>
                    <li><a href="#">Sortuj wg ceny: od najwyższej</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Filtrowanie
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Domyślne sortowanie</a></li>
                    <li><a href="#">Sortuj od najnowszych</a></li>
                    <li><a href="#">Sortuj wg ceny: od najniższej</a></li>
                    <li><a href="#">Sortuj wg ceny: od najwyższej</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="btn btn-inverse btn-lg">
                <span class="glyphicon glyphicon-shopping-cart"></span></a>
            </li>
        </ul>

    </div>
</nav>
<!-- end nav bar -->






<!--product-->

<!--<div class="container" th:each="product : ${oneProduct}">-->

<!--    <div class="row">-->
<!--&lt;!&ndash;        <div class="col-sm-5">${pro.brand}</div>&ndash;&gt;-->
<!--        <div class="col-sm-4"></div>-->

<!--    </div>-->

<!--</div>-->

<div class="container" th:object="${oneProduct}" style="background: brown">

    <div class="row">
     <div class="col-sm-6"><img class="card-img-top img-fluid" src="/templates/img/asd.png" style="width: 18rem"
                                 alt="Card image cap"></div>
        <div class="col-sm-4">
            <table>
                <tbody>
                <tr>
                    <td>Processor:</td>
                    <td th:text="${oneProduct.processor}"></td>
                </tr>
                <tr>
                    <td>Grafika:</td>
                    <td th:text="${oneProduct.graphics}"></td>
                </tr>
                <tr>
                    <td>Pamiec:</td>
                    <td th:text="${oneProduct.memory}"></td>
                </tr>
                <tr>
                    <td>Monitor:</td>
                    <td th:text="${oneProduct.screen}"></td>
                </tr>
                <tr>
                    <td>RAM:</td>
                    <td th:text="${oneProduct.ram}"></td>
                </tr>
                <tr>
                    <td>Siec:</td>
                    <td th:text="${oneProduct.network}"></td>
                </tr>
                <tr>
                    <td>Kolor:</td>
                    <td th:text="${oneProduct.color}"></td>
                </tr>
                <tr>
                    <td>Waga:</td>
                    <td th:text="${oneProduct.weight}"></td>
                </tr>
                <tr>
                    <td>System operacyjny:</td>
                    <td th:text="${oneProduct.operatingSystem}"></td>
                </tr>
                <tr>
                    <td>Wejscia:</td>
                    <td th:text="${oneProduct.usb}"></td>
                </tr>
                <tr>
                    <td>Dodatkowe info:</td>
                    <td th:text="${oneProduct.additionalInformation}"></td>
                </tr>
                <tr>
                    <td>Cena:</td>
                    <td th:text="${oneProduct.price}" style="color: red"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <a href="@{/cart/{id}(id = ${oneProduct.id})}">
                            <span class="glyphicon glyphicon-shopping-cart btn btn-warning">Do koszyka</span>
                        </a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>

</div>

<!--end product-->








<!-- footer -->
<div class="footer mt-5 container" style="background: blueviolet">
    <div class="row" style="background: yellow">
        <div class="col-sm-4">Wybierz</div>
        <div class="col-sm-4">Oddzwonimy</div>
        <div class="col-sm-4">Dostawimy</div>

        <div class="col-sm-4"><p>email : stefan@gmail.com</p>
        </div>
        <div class="col-sm-4"><p>numer: +4877777777</p>
        </div>
        <div class="col-sm-4"><p><a href=""><i class="fa fa-facebook-official" style="font-size:36px;color:#3b5998"></i></a>
        </p></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">Administratorem Twoich danych osobowych jest Stefan Production ul. Bukowińska 22A, NIP
            521-380-00-23. Przysługują Ci w związku z tym wszystkie prawa wynikające z ochrony danych osobowych, tj.
            prawo dostępu, sprostowania oraz usunięcia Twoich danych, ograniczenia lub sprzeciwu co do ich
            przetwarzania, prawo do ich przenoszenia, niepodlegania zautomatyzowanemu podejmowaniu decyzji, a także
            prawo wniesienia skargi do organu nadzorczego.
    </div>
</div>

<!--end footer -->
</body>
</html>