<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Laptopiki</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style type="text/css">
    body {
        background: #00FFFF;
        padding-top: 60px;
    }

    @media (max-width: 1440px) {
        body {
            padding-top: 0;
        }
    }
</style>
<body>
<!--nav bar-->
<div th:replace="fragments/nav-bar :: nav-bar"></div>
<!-- end navbar -->

<div class="container">
    <div class="container" th:if="${products.empty}">
        <h1>Przepraszamy, na razie nie mamy zadnych produktow.</h1>
    </div>
    <div class="card-deck">
            <div class="col-sm-4 card" th:each="product : ${products}">
                <img class="card-img-top img-fluid" th:src="@{/resources/templates/img/asd.png}" style="width: 18rem"
                     alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title" th:text="${product.brand + ', ' + product.model}"></h4>
                    <table>
                        <tbody>
                        <tr>
                            <td>Processor:</td>
                            <td th:text="${product.processor}"></td>
                        </tr>
                        <tr>
                            <td>Grafika:</td>
                            <td th:text="${product.graphics}"></td>
                        </tr>
                        <tr>
                            <td>Pamiec:</td>
                            <td th:text="${product.memory}"></td>
                        </tr>
                        <tr>
                            <td>Monitor:</td>
                            <td th:text="${product.screen}"></td>
                        </tr>
                        <tr>
                            <td>RAM:</td>
                            <td class="product-ram" th:text="${product.ram}"></td>
                        </tr>
                        <tr>
                            <td>Siec:</td>
                            <td th:text="${product.network}"></td>
                        </tr>
                        <tr>
                            <td>Kolor:</td>
                            <td th:text="${product.color}"></td>
                        </tr>
                        <tr>
                            <td>Waga:</td>
                            <td th:text="${product.weight}"></td>
                        </tr>
                        <tr>
                            <td>System operacyjny:</td>
                            <td th:text="${product.operatingSystem}"></td>
                        </tr>
                        <tr>
                            <td>Wejscia:</td>
                            <td th:text="${product.usb}"></td>
                        </tr>
                        <tr>
                            <td>Dodatkowe info:</td>
                            <td th:text="${product.additionalInformation}"></td>
                        </tr>
                        <tr>
                            <td>Cena:</td>
                            <td  class="product-price" th:text="${product.price}" style="color: red"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><a th:href="@{/products/{id}(id = ${product.id})}" class="btn btn-info" role="button">Podglad</a>
                            </td>
                            <td>
                                <a th:href="@{/cart/{id}(id = ${product.id})}">
                                    <span class="glyphicon glyphicon-shopping-cart btn btn-warning">Do koszyka</span>
                                </a>
                            </td>
                        </tr>
                        <tr sec:authorize="isAuthenticated()">
                            <td><a th:href="@{/admin/products/edit/{id}(id = ${product.id})}" class="btn btn-success"
                                   role="button">Edytuj</a>
                            </td>
                            <td><a th:href="@{/admin/products/delete/{id}(id = ${product.id})}" class="btn btn-danger"
                                   role="button"
                                   onclick="return confirm('Na pewno chcesz usunac?');">Usun</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>

<script type="application/javascript">
    $(document).ready(function () {
        $('#sort-small-price').click(function () {
            console.log("sort");
            $(".card-deck .card").sort(function (a, b) {
                var a = parseInt($(a).find(".product-price").text());
                var b = parseInt($(b).find(".product-price").text());
                console.log("a=" + a + ", b= " + b);
                return a > b ? 1 : -1;
            }).appendTo(".card-deck");
        });

        $('#sort-big-price').click(function () {
            $('.card-deck .card').sort(function (a, b) {
                var a = parseInt($(a).find(".product-price").text());
                var b = parseInt($(b).find(".product-price").text());
                console.log("a=" + a + ", b= " + b);
                return a < b ? 1 : -1;
            }).appendTo(".card-deck");
        });

        $('#sort-shuffle').click(function () {
            $('.card-deck .card').sort(function (a, b) {
                var a = $(a).find(".product-ram").text();
                var b = $(b).find(".product-ram").text();
                console.log("a=" + a + ", b= " + b);
                return a > b ? 1 : -1;
            }).appendTo(".card-deck");
        });
    });
</script>
</body>
</html>